/* Demo CSS */
.Wrapper {
  background-color: palegreen;
}

.Header {
  text-align: center;
}

.Container {
  padding: 1em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.AlternateContainer {
  padding: 1em;
  margin: 0;
  background-color: palevioletred;
  color: white;
}

.Code,
.Text {
  width: 100%;
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
}

.Viewport25 {
  min-height: 25vh;
}

.Viewport50 {
  min-height: 25vh;
}

.Viewport100 {
  min-height: 100vh;
}

/* Styling Examples */
.Sticky {
  position: sticky;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}

.TransitionOpacity {
  transition: opacity 300ms ease-in-out;
}
